<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Finite</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSMainNibFile</key>
	<string></string>
	<key>NSHumanReadableCopyright</key>
	<string></string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>Finite may need access to your Downloads folder when a terminal session uses it as a working directory.</string>
	<key>GhosttyCommit</key>
	<string>dev</string>
	<key>SUPublicEDKey</key>
	<string>N7c0zzdXDB327iwqSA6NaDu86K4Ilt05+MGwyo0Af7g=</string>
	<key>SUFeedURL</key>
	<string>https://ceIia.github.io/finite/appcast.xml</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
</dict>
</plist>
